INTERNAL_SERVICE_KEY=
JWT_SECRET_KEY=
RABBITMQ_URL=

REDIS_HOST=
REDIS_PORT=
REDIS_PASSWORD=
REDIS_TLS=true

SUPABASE_URL=https://PROJECT_ID.supabase.co
SUPABASE_SERVICE_ROLE_KEY=
SUPABASE_STORAGE_BUCKET=product-images

USER_DATABASE_HOST=
USER_DATABASE_PORT=5432
USER_DATABASE_USER=
USER_DATABASE_PASSWORD=
USER_DATABASE_NAME=

PRODUCT_DATABASE_HOST=
PRODUCT_DATABASE_PORT=5432
PRODUCT_DATABASE_USER=
PRODUCT_DATABASE_PASSWORD=
PRODUCT_DATABASE_NAME=

ORDER_DB_HOST=
ORDER_DB_PORT=5432
ORDER_DB_USER=
ORDER_DB_PASSWORD=
ORDER_DB_NAME=

PAYMENT_DB_HOST=
PAYMENT_DB_PORT=5432
PAYMENT_DB_USER=
PAYMENT_DB_PASSWORD=
PAYMENT_DB_NAME=
GOOGLE_CLIENT_ID=CLIENT_ID_GOOGLE_KAMU
