# Environment
.env
.env.*
!.env.example

# Node
node_modules/
**/node_modules/
dist/
**/dist/

# Go temporary cache
.tmp-go-cache-*/
.tmp-go-mod-cache/

# IDE
.idea/
.vscode/

# Uploads
uploads/
**/uploads/

# Build / OS
*.exe
*.out
*.log
.DS_Store
Thumbs.db
